openssl s_client -showcerts \
-connect {{ url | replace('https://', '') }}:443 \
-servername {{ url | replace('https://', '') }} < /dev/null 2>/dev/null \
| openssl x509 -outform PEM > \
{{ gitlab_runner_ca_path }}/{{ url | replace('https://', '') }}.crt
