{% set required_keys = ('name', 'url', 'token', 'executor') -%}
{% set url = runner.url | default(gitlab_runner_common_url) -%}
{% set executor = runner.executor | default(gitlab_runner_common_executor) -%}

gitlab-runner register
    {{- ' '}}--non-interactive
    {{- ' '}}--url {{ url }} 
    {{- ' '}}--token {{ runner.token }} 
    {{- ' '}}--executor {{ executor }}
    {{- ' '}}--name {{ runner.name }}
{%- if url.startswith('https') and gitlab_runner_download_ca_certificates %}
    {{- ' '}}--tls-ca-file {{ gitlab_runner_ca_path }}/{{ url | replace('https://', '') }}.crt
{%- endif %}
{%- for key, value in runner.items() %}
    {%- if key not in required_keys %}
        {{- ' '}}--{{ key | replace('_', '-') }} {{ value }}
    {%- endif %}
{%- endfor %}
