apiVersion: 1

datasources:
  {% for datasource in grafana_datasources -%}
  - name: {{ datasource.name }}
    type: prometheus
    version: 1
    access: proxy
    ordId: 1
    basicAuth: false
    editable: false
    url: {{ datasource.url }}
  {% endfor%}
