[Unit]
Description=Grafana
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm grafana
ExecStart=/usr/bin/docker run \
    --rm \
    --publish 3000:{{ grafana_port }} \
    --user {{ getent_passwd[ansible_user_id].1 }} \
    --memory 1024m \
    --volume {{ grafana_dir }}/provisioning:/etc/grafana/provisioning \
    --volume {{ grafana_dir }}/data:/var/lib/grafana \
    --name grafana \
    grafana/grafana:{{ grafana_tag | default('latest') }}
ExecStop=/usr/bin/docker stop -t 10 grafana

[Install]
WantedBy=multi-user.target
