{{ ansible_managed | comment }}
{% set cmd = [node_exporter_dir+'/node_exporter']%}
{% for flag, flag_value in node_exporter_config.items() %}
    {% if flag_value != none %}
        {{ cmd.append('--'+flag+'='+(flag_value | string)) }}
    {% else %}
        {{ cmd.append('--'+flag) }}
    {% endif %}
{% endfor %}

[Unit]
Description=Node Exporter
Requires=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
PIDFile={{ node_exporter_dir }}/node_exporter.pid
ExecStart={{ cmd | join(' \\\n\t') }}
ExecStop=/bin/kill -s SIGTERM $MAINPID
SyslogIdentifier=node_exporter
Restart=on-failture

[Install]
WantedBy=multi-user.target
