[Interface]
PrivateKey = {{ client.private_key }}
Address = {{ client.address }}
{% if wireguard_dns is defined -%}
    DNS = {{ wireguard_dns }}
{% endif -%}

[Peer]
PublicKey = {{ host_public_key }}
AllowedIPs = {{ client.client_allowed_ips | join(', ')}}
Endpoint = {{ wireguard_listen_address }}:{{ wireguard_port }}
PersistentKeepalive = {{ wireguard_keepalive | default(10) }}
