[Interface]
Address = {{ wireguard_host_cidr }}
SaveConfig = true
ListenPort = {{ wireguard_port }}
Table = off
PrivateKey = {{ host_private_key }}
{% if wireguard_iptables_allow_incoming %}
PostUp = iptables -A INPUT -i {{ host_eth_device }} -p udp --dport {{ wireguard_port }} -j ACCEPT
PreDown = iptables -D INPUT -i {{ host_eth_device }} -p udp --dport {{ wireguard_port }} -j ACCEPT
{% endif %}
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PreDown = iptables -D FORWARD -i %i -j ACCEPT
PreDown = iptables -D FORWARD -o %i -j ACCEPT
{% for route in wireguard_allowed_ips %}
{% if wireguard_masquerade %}
PostUp = iptables -t nat -A POSTROUTING -o {{ host_eth_device }} -d {{ route }} -j MASQUERADE
PreDown = iptables -t nat -D POSTROUTING -o {{ host_eth_device }} -d {{ route }} -j MASQUERADE
{% endif %}
{% endfor %}

{% for client in wireguard_client_configs %}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.host_allowed_ips | join(', ') }}
    
{% endfor %}
