map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

upstream grafana {
    server localhost:{{ grafana_port | default('3000') }};
}

server {
    listen 80;
    server_name {{ config_item.server }} www.{{ config_item.server }}
    {%- if config_item.domain is defined %}
        {{-" " }}{{ config_item.server }}.{{ config_item.domain }} 
        {{-" " }}www.{{ config_item.server }}.{{ config_item.domain }}
    {%- endif %};
    root /usr/share/nginx/html;
    index index.html index.htm;
    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://grafana;
    }
    location /api/live/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $http_host;
        proxy_pass http://grafana;
    }
}
