[Unit]
Description=Nexus Service
After=syslog.target network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_dir }}bin/nexus start
ExecStop={{ nexus_dir }}bin/nexus stop
User={{ nexus_user }}
Group={{ nexus_user }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
